.hidden {
  display: none;
}

/* __________GLOBAL__________ */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #2e2f42;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: #2e2f42;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* __________COMMON__________ */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* __________HEADER__________ */

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link,
.address-list {
  display: none;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  padding: 16px 0;
}

.accent {
  color: #4d5ae5;
}

.burger-btn > .icon {
  display: block;
  fill: #2f2f37;
}

/* __________MODAL__________ */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
  transform: translateY(-50%);
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  
}

/* .mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  transform: translateY(-50%);
    transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open .mobile-menu-container {
  transform: translateY(0);
} 

___________НА СЛУЧАЙ ЗАКРЕПЛЕННОЙ КНОПКИ___________*/

.menu-close {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:focus {
  background-color: #404bbf;
}

.menu-close .icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:focus .icon {
  fill: #fff;
}

.nav-studio {
  color: #404bbf;
}

.menu-nav {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
margin-bottom: auto;
}

.menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
font-style: normal;
}

.menu-nav a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav ul > li > a:focus {
  color: #404bbf;
}

.tel {
  color: #4d5ae5;
}

.menu-address {
  margin-bottom: 48px;
}

.menu-address-list li:last-child a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-list li:last-child a:focus {
  color: #404bbf;
}


.social-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.social-list li {
  flex-basis: calc((100% - 120px) / 4);
}

.social-list li > a {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list li > a:focus {
    background-color: #404bbf;
}

.social-list li > a .icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-link {
    display: flex;
    gap: 40px;
  }
  .nav-link a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link a:focus {
    color: #404bbf;
  }

  .nav-studio::after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
  }

  .address-list {
    display: block;
    line-height: 1.5;
  }

  .address-list-link {
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    font-style: normal;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-list-link {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
